@model Tuple<int, decimal>
@*<span class="fa fa-shopping-cart"></span> @Model*@
<span class="icon-shopping-cart"></span> @Model.Item1 Artigo(s) - <span class="badge badge-warning"> AKZ @Model.Item2.ToString("N")</span>