@model PCPF.Domain.Model.Cliente
@{
    ViewBag.Title = "Registar-se";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Registar-se</h3>
<hr class="soft">

<div style="width:1200px;">
    @*@await Component.InvokeAsync("Summary")*@
    @if(TempData["Error"] != null)
    {
        <b>@TempData["Error"];</b>;
    }
</div>
<div class="well">
    
    <form class="form-horizontal" method="post">
        <h3>Detalhes pessoais</h3>
        <div class="control-group">
            <label class="control-label" for="Nome">Nome <sup>*</sup></label>
            <div class="controls">
                <input asp-for="Nome" placeholder="Nome">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DocumentoIdentificacao">Nº doc de Identificação <sup>*</sup></label>
            <div class="controls">
                <input asp-for="DocumentoIdentificacao" placeholder="Nº doc de Identificação">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Telefone">Telefone <sup>*</sup></label>
            <div class="controls">
                <input asp-for="Telefone" placeholder="Telefone">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Email">Email <sup>*</sup></label>
            <div class="controls">
                <input asp-for="Email" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="UserName">UserName <sup>*</sup></label>
            <div class="controls">
                <input asp-for="UserName" placeholder="UserName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password <sup>*</sup></label>
            <div class="controls">
                <input type="password" placeholder="Password" name="Password" id="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" name="submitAccount" value="Registar" class="exclusive shopBtn">
            </div>
        </div>
    </form>
</div>