@model PCPF.Domain.Model.Pedido
@{
    ViewBag.Title = "Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-green">
    <div class="card-header">
        <h2 style="text-align:center">EFECTUAR PEDIDO</h2>
    </div>

    <div class="col-xs-12 col-sm-8 custom_right">
        <div class="single_content_left">
            <form method="post" class="apply_from" enctype="multipart/form-data">

                @Html.AntiForgeryToken()
                <br />
                @Html.ValidationSummary(false, "", new { @class = "alert-danger" })
                <br />

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Cliente </div>
                        @Html.DropDownList("ClienteId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Data inicio</div>
                        <input type="date" class="form-control" name="Inicializadoem">
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Data fim</div>
                        <input type="date" class="form-control" name="Finalizadoem">
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Estado do pedido</div>
                        <input type="text" value="Analise" class="form-control" name="Status pedido">
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="label">Observação </div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="text-field">
                                @*<textarea class="form-control" rows="10" cols="10" name="Observacao">@Model==null?"":Model.Observacao</textarea>*@
                                @Html.TextAreaFor(model => model.Observacao, 10, 10, "")
                            </div>
                        </div>
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="text-field">
                                <input type="submit" value="Enviar" class="btn btn-outline-dark" />
                                <a href="/Home/Index" class="btn btn-danger" style="color:white">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div><!--end form group-->
            </form>
        </div>
    </div>
</div><!--end row-->