@model PCPF.Domain.Model.Produto
@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-green">
    <div class="card-header">
        <h2 style="text-align:center">CADASTRAR PRODUTO</h2>
    </div>

    <div class="col-xs-12 col-sm-8 custom_right">
        <div class="single_content_left">
            <form method="post" class="apply_from" enctype="multipart/form-data">

                @Html.AntiForgeryToken()
                <br />
                @Html.ValidationSummary(false, "", new { @class = "alert-danger" })
                <br />

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Descrição </div>
                        <input type="text" class="form-control" name="Descricao">
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Código de barra</div>
                        <input type="text" class="form-control" name="Codigobarras">
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Qtd mínima</div>
                        <input type="text" class="form-control" name="QuantidadeMinima">
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Valor</div>
                        <input type="text" class="form-control" name="Valor">
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="label">Observação </div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="text-field">
                                @*<textarea class="form-control" rows="10" cols="10" name="Observacao">@Model==null?"":Model.Observacao</textarea>*@
                                @Html.TextAreaFor(model => model.Observacao, 10, 10, "")
                            </div>
                        </div>
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="text-field">
                            @Html.DropDownList("UtilizadorId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div><!--end form group-->


                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="text-field">
                                <input type="submit" value="Cadastrar" class="btn btn-outline-dark" />
                                <a href="/Admin/Produto/Lista" class="btn btn-danger" style="color:white">Voltar</a>

                            </div>
                        </div>
                    </div>
                </div><!--end form group-->



            </form>
        </div>
    </div>

</div><!--end row-->
