@model PCPF.Domain.Model.Fornecedor

@{
    ViewBag.Title = "Actualizar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-gray" >
    <div class="card-header">
        <h2 style="text-align:center">Actualizar dados do Fornecedor</h2>
    </div>
    <div class="col-xs-12 col-sm-8 custom_right">
        <div class="single_content_left">
            <form method="post" class="apply_from" enctype="multipart/form-data">


                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <input type="hidden" value="=@Model.Id" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="label">Nome</div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="text-field">
                                <input asp-for="DenominacaoFiscal" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="label">Email</div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="text-field">
                                <input asp-for="Email" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div><!--end form group-->


                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="label">Telefone</div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="text-field">
                                <input asp-for="Telefone" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div><!--end form group-->


                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="label">Endereço</div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="text-field">
                                <textarea name="Endereco" style="width:700px; height:150px" class="form-control">@Model.Endereco</textarea>
                            </div>
                        </div>
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="row">

                        <div class="col-xs-12 col-sm-8">
                            <div class="text-field">
                                <input type="submit" value="Actualizar" class="btn btn-outline-dark" />

                                <a href="/Admin/Fornecedor/Lista" class="btn btn-danger" style="color:white">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div><!--end form group-->

            </form>
        </div>
    </div>

</div><!--end row-->
