@model PCPF.Domain.Model.Fornecedor
@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-green">
    <div class="card-header">
        <h3 class="card-title">CADASTRAR FORNECEDOR DE PRODUTOS</h3>
    </div>

    <div class="col-xs-12 col-sm-8 custom_right">
        <div class="single_content_left">
            <form method="post" class="apply_from" enctype="multipart/form-data">

                @Html.AntiForgeryToken()
                
                <br />
                @Html.ValidationSummary(false, "", new { @class = "alert-danger" })

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Denominação fiscal </div>
                        <input type="text" class="form-control" name="Denominacaofiscal">
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">E-mail</div>
                        <input type="text" class="form-control" name="Email">
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Telefone</div>
                        <input type="text" class="form-control" name="Telefone">
                    </div>
                </div><!--end form group-->

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="label">Endereço</div>
                        <input type="text" class="form-control" name="Endereco">
                    </div>
                </div><!--end form group-->

@*                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="text-field">
                            @Html.DropDownList("UtilizadorId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>*@
                <!--end form group-->


                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="text-field">
                                <input type="submit" value="Cadastrar" class="btn btn-success" />
                                <a href="/Admin/Fornecedor/Lista" class="btn btn-danger" style="color:white">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div><!--end form group-->
            </form>
        </div>
    </div>

</div><!--end row-->
